<html>
    
    <head>
    
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
        <script type="text/javascript" src="../oidc-angular.js"></script>
        <script type="text/javascript" src="angular-base64.js"></script>

        <base href="/" />
    </head>
    
    <body ng-app="app" ng-controller="ApplicationController as vm">
        
        <button ng-click="vm.login()">Login</button>
        <button ng-click="vm.clear()">Clear Local Storage</button>
        <button ng-click="vm.refresh()">Silent Refresh</button>
        
        <div ng-view> </div>
        
        <script>
            
            var appModule = angular.module('app', ['oidc-angular']);
            
            appModule.config(['$authProvider', function($authProvider) {
                
                $authProvider.configure({
                    basePath:               'https://localhost:44356',
                    authorizationEndpoint : 'connect/authorize',
                    clientId:               'cxplocal',
                    scope:                  'openid profile',
                    redirect_uri:           'http://localhost:3000/auth/callback/',
                    apiUrl:                 null
                })
            }]);
            
            appModule.controller('ApplicationController', ['$auth', '$rootScope', '$localStorage', 
            function($auth, $rootScope, $localStorage) {
                
                var vm = this;
                
                console.log('[ControllerCtor]', '$auth.isAuthenticated', $auth.isAuthenticated());
                
                $rootScope.$on('oidcauth:loggedIn', function(e) {
                    console.log('[EventCallback]', 'Event', e.name, e);
                    console.log('[EventCallback]', '$auth.isAuthenticated', $auth.isAuthenticated());
                });

                $rootScope.$on('oidcauth:tokenExpires', function(e) {
                    console.log('[EventCallback]', 'Event', e.name, e);
                    console.log('[EventCallback]', 'token is expiring soon');
                });

                $rootScope.$on('oidcauth:silentRefreshStarted', function(e) {
                    console.log('[EventCallback]', 'Event', e.name, e);
                    console.log('[EventCallback]', 'silent refresh started');
                });

                vm.login = function() {
                    $auth.signIn();
                }
                
                vm.clear = function() {
                    $localStorage.$reset();
                }

                vm.refresh = function() {
                    $auth.silentRefresh();
                }
            }]);
            

        </script>        
    </body>
</html>